<div class="footer-container">
    <hr class="footer-divider" />
    <div class="footer-content">
        <h3 class="footer-text">made by Nathan Trinh</h3>
    </div>
</div>

<style>
.footer-container {
    background: grey;
    padding: 1rem;
    text-align: center;
}

.footer-divider {
    border-top: 1px solid black;
    margin: 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center; 
}

.footer-text {
    font-family: "Corinthia", cursive;
    margin: 0;
    font-size: 0.9rem;
}
</style>
