---
export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={`container ${className || ''}`}>
  <slot />
</div>

<style>
  .container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding: 40px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 700px;
    margin: 0 auto;
  }

  @media (max-width: 480px) {
    .container {
      padding: 20px;
      margin: 20px;
    }
  }
</style>